<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO-APP</title>
</head>
<body>
    <!-- TASK -->
    <h1>Hi there MFFF</h1>
    <br>
    <br>
    <% jsonData.forEach((data)=>{ %>
        <!-- <h1><%= data.title %></h1> -->
        <button class="see-notes" value="<%= data.id %>"><%= data.title %></button>
        <br>
        <form action="/add-note/<%= data.id %>" method="POST">
            <h3>Add New Note</h3>
            <input type="text" name="title" placeholder="Enter Note">
            <input type="text" name="description" placeholder="Description">
            <button type="submit" class="add-note-button" value="<%= data.id %>">+</button>
        </form>
        <br>
        <a href="/edit-task/<%= data.id %>">Update</a>
        <br>
    <% }) %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="/add-task" method="POST">
    <h3>Add New Task</h3>
    <input type="text" name="title" placeholder="Enter Task">
    <button type="submit">+</button>
    </form>

    <!-- NOTES -->
    <hr>
    <hr>
    <div id="notes-container"></div>

    <!-- CHAT -->
    <hr>
    <hr>
    <div id="chat-container">
        <form id="message-form">
            <input type="text" id="user-message" placeholder="Enter Message"/>
            <input type="submit" value="Send!"/>
        </form>
        <ul id="message-list"></ul>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/chat.js"></script>
<script src="/scripts/index.js"></script>
</body>
</html>